doctype html
html
  head
    include header.pug
  body
    .container
      include navbar.pug
      form(action='/item_create', method='post')
        .form-group
          label= 'Create New Item'
          input.form-control(type='text', name='summary', placeholder='Summary of the item')
        button.btn.btn-primary(type='submit')= 'Create'
