doctype html
html
  head
    include header.pug
  body
    .container
      include navbar.pug
      form(action='/item_create', method='post')
        .form-group
          label= '商品新規'
          input.form-control(type='text', name='summary', placeholder='タイトル')
        button.btn.btn-primary(type='submit')= '送信'
